*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}   
.container{
    color: rgb(6, 6, 6);
    background-color: white;
    font-family: sans-serif;
}
.header{
    display: flex;
    justify-content:space-around;  
}
.navbar{
    display:flex;
    gap: 50px;
    font-size: 20px;
}
.alt{
    height:40px;
    width:110px;
    background-color: aqua ;
    border-style: none;
    color: white;
    border-radius: 20px;
}
.text{ 
    font-size: 60px;
    font-weight: 800px;
    margin-top: 35px;
    }
.textr{
    color: aqua;
}
.paragraph{
    margin-top: 20px;
    font-size: 20px;
    color: rgb(17, 17, 17);
    margin-bottom: 20px;
    text-align: center;
    
}
/*.image{
    
    
  
}*/
.section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lobe{
    margin-top: 30px;
    font-size:50px;
    font-weight: bold;
    text-align: center;
    
}
.btn2{
    margin-top: 30px;
    height:40px;
    width:110px;
    background-color: aqua;
    border-style: none;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;
}

.footer{
    display:flex;
    flex-direction:row;
    width:80%;
    gap: 30px;
    justify-content: space-between;
    list-style: none;
       
}
   .cl1,.cl2,.cl3,.cl4 {
    list-style: none;

    }
@media only screen and (max-width:720px){
    body{
       background-color: rgb(54, 45, 93);
    }
  /*  .imgae{
       
    }*/
    .navbar{
        gap:20px;
        font-size: 10px;
        justify-items: center;
    }
   .section{
        width: 50%;
        
    
        align-items: center;
    }*/
.alt{
background-color: rgb(23, 222, 122);
}
    .btn2{
        background-color: rgb(252, 134, 167);
    }
   
    .lobe{
        text-align: center;
    
    }
 .text{
    
    align-items: center;
 }   
 .footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
 }
}

    



   /* .cl{
        list-style: none;
    }

@media(max-width:600px){
    .image{
        width: 30%;
    }
    footer{
        flex-direction: column;
    }

}
/*.footer1{
    text-align:left;
    justify-content:center;
    list-style: none;

    
}





/*.footer2{
    text-align: center;
    justify-content: center;
}



 